* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* reset rules */
}

@font-face {
    font-family: 'Circular Spotify Text Medium';
    src: url(../fonts/CircularSpotifyText-Medium.otf);
}

body {
    font-family: 'Circular Spotify Text Medium', sans-serif;
    background-color: #141922;
}

#window {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: calc(100% - 90px);

    display: flex;
}


ul {
    list-style-type: none;
}

/* sidebar */
.sidebar {
    width: 230px;
    min-width: 230px;

    padding: 20px 20px 8px;

    background-color: #000;
    color: white;
}

.col-right {
    flex-grow: 1;

    height: calc(100vh - 90px);

    overflow-y: scroll;
}

.main-window {

    height: 100vh;
}

.upgrade {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 230px);
    height: 90px;

    background-color: #080B12;
}

.upgrade-button {
    position: absolute;
    top: 0;
    padding: 15px 40px;
    border-radius: 25px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: 15px;
    border-color: white;
    background-color: #080B12;
    color: white;

}

.player {
    background-color: #282828;
    height: 90px;
    width: 100%;
}

/* main window */
.nav-list {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    gap: 25px;
    margin: 25px auto 40px;
}

a {
    text-decoration: none;
    color: #7C7E83;
}

h2 {
    color: white;
    padding-bottom: 15px;
}

h4 {
    color: #7C7E83
}


.album-container {
    display: flex;
    gap: 15px;
    padding-bottom: 45px;
}

.album-container h3 {
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}

.card {
    width: calc(100% / 6 - 15px * 5 / 6);
    text-align: center;
}

.main-container {
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
}


img {
    width: 100%;
}


.album-container:nth-of-type(3) img {
    border-radius: 50%;
}

strong {
    color: #7C7E83;
    display: block;
    padding-bottom: 30px;
}

@media screen and (max-width:992px) {
    .album-container {
        flex-wrap: wrap;
    }

    .card {
        width: calc(100% / 4 - 15px);
    }

    .nav-list {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:767px) {
    .card {
        width: calc(100% / 2 - 15px);
    }

    .album-container {
        flex-wrap: wrap;
    }

    .nav-list {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:575px) {
    .sidebar {
        min-width: 50px;
    }

    .nav-list {
        flex-wrap: wrap;
    }

    .upgrade {
        width: calc(100% - 50px);
    }
}


/* sidebar */

.second-menu {
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-menu .logo img:nth-of-type(1) {
    width: 130px;
}

.first-menu .logo {
    padding-bottom: 30px;
}

.first-menu img {
    width: 25px;
}

li * {
    vertical-align: middle;
}

.first-menu li {
    padding-bottom: 15px;
}

.first-menu li span {
    padding-left: 5px;
}

.toggle-icons {
    display: none;
}


.playlist li:not(:first-child) {
    padding-bottom: 10px;

}

.add-playlist-btn {
    padding: 9px 16px;
    background-color: grey;
}

.playlist .create-playlist {
    padding: 25px 0 40px;
}



/* test responsive sidebar */

@media screen and (max-width:576px) {
    .toggle-icons {
        display: block;
    }


    .toggle-icons li {
        padding-bottom: 15px;
    }

    .first-menu {
        display: none;
    }

    .playlist {
        display: none;
    }

    .install-app span:nth-of-type(2),
    .username span:nth-of-type(2),
    hr {
        display: none;
    }
}