* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* reset rules */
}

@font-face {
    font-family: 'Circular Spotify Text Medium';
    src: url(../fonts/CircularSpotifyText-Medium.otf);
}

body {
    font-family: 'Circular Spotify Text Medium', sans-serif;
    background-color: #141922;
}

.container {
    display: flex;
    height: calc(100vh - 90px);
}


ul {
    list-style-type: none;
}

/* sidebar */
.sidebar {
    width: 230px;
    padding: 20px 20px 8px;

    background-color: #000;
    color: white;
}

.main-window {

    overflow-y: scroll;
    width: calc(100% - 230px);
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
}

.upgrade {
    display: flex;
    justify-content: flex-end;
    align-items: center;


    position: fixed;
    top: 0;
    right: 0;

    width: calc(100% - 230px);
    height: 90px;

    padding: 20px;

    text-align: right;


    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}


.player {
    background-color: #282828;
    height: 90px;
}

/* main window */
.nav-list {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    gap: 25px;
    margin: 25px auto 40px;
}

a {
    text-decoration: none;
    color: #7C7E83;
}

h2 {
    color: white;
    padding-bottom: 15px;
}

h4 {
    color: #7C7E83
}


.album-container {
    display: flex;
    gap: 15px;
    padding-bottom: 45px;
}

.album-container h3 {
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}

.card {
    width: calc(100% / 6 - 15px * 5 / 6);
    text-align: center;
}


img {
    width: 100%;
}


.album-container:last-child img {
    border-radius: 50%;
}

strong {
    color: #7C7E83;
    display: block;
    padding-bottom: 30px;
}

@media screen and (max-width:992px) {
    .album-container {
        flex-wrap: wrap;
    }

    .card {
        width: calc(100% / 4 - 15px);
    }

    .nav-list {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:767px) {
    .card {
        width: calc(100% / 2 - 15px);
    }

    .album-container {
        flex-wrap: wrap;
    }

    .nav-list {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:575px) {
    .main-window {
        width: calc(100% - 50px);
    }

    .sidebar {
        max-width: 50px;
    }

    .nav-list {
        flex-wrap: wrap;
    }


    /* TEST SIDEBAR */
    .toggle-icons {
        display: block;
    }


    .toggle-icons li {
        padding-bottom: 15px;
    }

    .first-menu {
        display: none;
    }

    .playlist {
        display: none;
    }

    .install-app span:nth-of-type(2),
    .username span:nth-of-type(2),
    hr {
        display: none;
    }

    .upgrade {
        width: calc(100% - 50px);
    }

}



/* sidebar */

.second-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-menu .logo img:nth-of-type(1) {
    width: 130px;
}

.first-menu .logo {
    padding-bottom: 30px;
}

.first-menu img {
    width: 25px;
}

li * {
    vertical-align: middle;
}

.first-menu li {
    padding-bottom: 15px;
}

.first-menu li span {
    padding-left: 5px;
}

.toggle-icons {
    display: none;
}


.playlist li:not(:first-child) {
    padding-bottom: 10px;

}

.add-playlist-btn {
    padding: 9px 16px;
    background-color: grey;
}

.playlist .create-playlist {
    padding: 25px 0 40px;
}



/* player */

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 50px;
}


/* test flex-container */

.flex-container {
    width: calc(100% / 5);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.flex-container:nth-of-type(2) {
    flex-grow: 1;
}

/* test first container */

.info-song-played>div {
    width: 70px;

}

.sound-controls>div {
    justify-content: space-evenly;
    background-color: green;
    width: 20px;
}

.player-controls {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.player .fa-solid,
.player .fa-regular {
    color: #FFF;
}

.player .fa-solid,
.player .fa-regular {
    font-size: 15px;
}

.player .fa-circle-play {
    font-size: 30px;
}


/* test progress bar */
/* 
.volume-bar {
    flex-grow: 1;
} */

.sound-controls {
    gap: 15px
}

.favourite .fa-regular {
    color: grey;
}

.media-time {
    display: flex;
    gap: 10px;
    align-items: center;
}

.media-time p {
    font-size: 9px;
    color: white;
}

.media-time .progress-bar {
    width: 30vw;
    height: 4px;
    background-color: grey;
    border-radius: 25px;

}

.name-and-artist {
    font-size: 14px;
    color: white;
}

.name-song {
    color: grey;
    font-size: 12px;
}