* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* reset rules */
}

@font-face {
    font-family: 'Circular Spotify Text Medium';
    src: url(../fonts/CircularSpotifyText-Medium.otf);
}

@font-face {
    font-family: 'Circular Spotify Text Bold';
    src: url(../fonts/CircularSpotifyText-Bold.otf);
}

body {
    font-family: 'Circular Spotify Text Medium', sans-serif;
    background-color: #141922;
}

/* Style common elements */
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white
}

h2 {
    color: white;
    padding-bottom: 15px;
}

h4 {
    color: #7C7E83
}

.main-window strong {
    display: block;

    padding-bottom: 30px;

    color: #7C7E83;
}

li * {
    vertical-align: middle;
}

/* set opacity of hover element */
li:not(.home, .logo),
.player .favourite i,
.install-app,
.create-playlist {
    transition: opacity .2s;

    color: white;
    opacity: 0.4;

}

/* end common elements */

/* MAIN CONTAINER */

.container {
    display: flex;

    height: calc(100vh - 90px);
}

/* SIDEBAR */

/* Main sidebar container */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 230px;
    height: 100%;

    overflow: hidden;

    background-color: #000;
    color: white;
}

/* green side border */

.sidebar .first-menu li {
    padding: 5px 16px;
}

.sidebar .home {
    border-left: 4px solid #ADFF2F;
}

.sidebar .first-menu li:not(.home) {
    padding-left: 20px;
}

.logo .small-logo {
    display: none;
}

/* end */

/* container first menu */

.first-menu {
    margin-bottom: 25px;
}

.logo {
    width: 100%
}

.sidebar .logo {
    padding: 20px;
}

.first-menu img {
    width: 25px;
}


.first-menu li span {
    padding-left: 5px;

    font-size: 0.9e9;
}

/* toggle inactive icons when height < 576px */

.toggle-icons {
    display: none;
}

/* end */

/* BUTTON PLAYLIST */

.playlist-btn {
    display: inline-block;

    position: relative;

    margin-right: 10px;

    width: 37px;
    height: 37px;

    background-color: gray;
    cursor: pointer;
}

.plus {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    color: black;
    font-size: 30px;
}

.playlist li {
    padding-bottom: 10px;

    font-size: 15px;
}

.add-playlist-btn {
    display: inline;

    padding: 10px;

    background-color: grey;
    color: black;
    font-size: 30px;

}

.username *,
.install-app * {
    vertical-align: middle;
}


.playlist {
    padding-left: 20px;
}

.playlist .create-playlist {
    margin: 12px 0 20px;
}

.playlist p {
    text-transform: uppercase;
    font-size: 0.9em;
    font-family: 'Circular Spotify Text Bold';
    font-weight: bold;
}

/* MAIN WINDOW */

.main-window {

    overflow-y: scroll;
    width: calc(100% - 230px);

}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 25px;

    margin: 25px auto 40px;

    text-transform: uppercase;
}

.nav-list hr {
    position: relative;

    width: 30%;
    left: 50%;

    transform: translateX(-50%);

    border: #ADFF2F 1px solid;
}

.card {
    width: calc(100% / 6 - 15px * 5 / 6);

    text-align: center;
}

.album-container {
    display: flex;
    gap: 15px;

    padding-bottom: 45px;
}

.album-img {
    width: 100%;
}

.album-container h3 {
    padding-top: 20px;
    padding-bottom: 10px;

    color: white;
}

.album-container img {
    width: 100%;
}

.album-container:last-child img {
    border-radius: 50%;
}

/* upgrade banner */

.upgrade {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;

    width: calc(100% - 230px);
    height: 90px;

    padding: 20px;

    text-align: right;

    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    text-transform: uppercase;

    backdrop-filter: blur(5px);
}

.upgrade button {
    padding: 15px 50px;

    transition: all .2s ease;
    transform: scale(1);

    background-color: #0000;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
}

/* PLAYER */

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #282828;
    height: 90px;

    gap: 50px;
    position: fixed;
    width: 100%;

    padding-left: 10px;
    padding-right: 10px;
}


/* test player flex-container */

.flex-container {
    display: flex;
    align-items: center;

    width: calc(100% / 4);
}

.flex-container:nth-of-type(2) {
    flex-grow: 1;
}

/* test flex container left */

.cover-album {
    width: 40px;
}

.info-song-played {
    gap: 15px;
}

.info-song-played img {
    width: 100%;
    min-width: 50px;
}

.favourite {
    display: flex;
    gap: 7px;
}

.info-playback {
    display: flex;
    align-items: center;
    gap: 20px;
}

.name-and-artist {
    font-size: 12px;
    color: white;
}

.name-song {
    color: grey;
    font-size: 11px;
    cursor: pointer;
}

/* test flex container center */

.player-controls {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.media-time {
    display: flex;
    gap: 10px;
    align-items: center;
}

.media-time p {
    font-size: 9px;
    color: white;
}

.media-time .progress-bar {
    position: relative;

    width: 25vw;
    height: 4px;

    background-color: grey;
    border-radius: 25px;

}

/* color player icons */

.player i {
    font-size: 15px;
    color: #FFF;
}

.player .fa-circle-play,
.player .fa-circle-pause {
    font-size: 30px;
}

/* text flex container right */

.volume-bar {
    width: 6vw;
    height: 4px;

    background-color: grey;
    border-radius: 25px;
}

.sound-controls {
    justify-content: flex-end;
    gap: 10px
}

/* RESPONSIVE */

@media screen and (max-width:992px) {
    .album-container {
        flex-wrap: wrap;
    }

    .card {
        width: calc(100% / 4 - 15px);
    }

    .nav-list {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:767px) {
    .card {
        width: calc(100% / 2 - 15px);
    }

    .album-container {
        flex-wrap: wrap;
    }

    .nav-list {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:575px) {
    .main-window {
        width: calc(100% - 50px);
    }

    .sidebar {
        max-width: 50px;
        padding-top: 20px;
    }

    .nav-list {
        flex-wrap: wrap;
    }

    .logo .small-logo {
        display: block;
    }

    .sidebar .logo {
        padding: 0px 5px 20px;
    }

    .toggle-icons {
        display: block;
    }

    .toggle-icons li {
        padding: 20px 6px 10px;
    }

    .first-menu,
    .big-logo,
    .playlist,
    .install-app span,
    .username span,
    .divisor {
        display: none;
    }

    .upgrade {
        width: calc(100% - 50px);
    }

    .sidebar .info-user {
        text-align: center;
        padding: 0 0 10px;
    }

    .info-user .username img {
        margin: 0;
    }

    .info-user .install-app img {
        margin: 0;
        padding-right: 2px;
        margin-bottom: 10px;
    }

}

/* END RESPONSIVE */

/* TEST ICONS POSITION */

.info-user {
    padding: 20px;
}

.info-user .divisor {
    margin: 10px 0 11px;
    width: 100%;
    height: 0.5px;
    background-color: #7C7E83;
}

.install-app img,
.username img {
    margin-right: 5px;

    filter: invert(0) brightness(1);
}


.install-app img {
    width: 20px;
    height: 20px;

}

.username img {
    width: 25px;
    height: 25px;

    background-color: #7C7E83;
    border-radius: 50px;
}

/* PLAYER CONTROLS */

.slider-pointer {
    opacity: 0;
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    transform: translateY(-50%);
    top: 2px;
    left: calc(100% - 5px);
}

/* Progress media */

.play-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0vw;
    background-color: white;
    height: 4px;
    border-radius: 2px;
    transition: width 5s linear;
}

/* hover effects */

/* PLAYER CONTROLS */
/* progress bar */

.name-song:hover {
    text-decoration: underline;
}

.progress-bar:hover,
.volume-bar:hover {
    cursor: pointer;
}

.progress-bar:hover .play-progress,
.volume-bar:hover .play-progress {
    background-color: #ADFF2F;
}

.progress-bar:hover .slider-pointer,
.volume-bar:hover .slider-pointer {
    opacity: 1;
}

.volume-bar {
    position: relative;
}


li:hover,
.install-app:hover,
.favourite i:hover,
.create-playlist:hover {
    color: white;
    opacity: 1;
    cursor: pointer;
}

.favourite {
    display: flex;
    flex-wrap: wrap;
}

/* upgrade btn hover */
.upgrade button:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.848);
    color: rgba(0, 0, 0);
}

/* scrollbar */
.scroll {
    height: 150px;
    overflow-y: auto;
}

/* align create playlist test */
.create-playlist * {
    vertical-align: middle;
}

.home {
    filter: invert(0) brightness(0.8);
    transition: all 0.2s;
}

.home:hover {
    filter: brightness(1);
}

/* play on album photos */

.album-img {
    position: relative;
}

.album-img .fa-circle-play {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 60px;
}

.album-img img {
    transition: opacity .2s;

    display: block;
}

.album-img:hover img {
    opacity: 0.7;
    cursor: pointer;
}

.album-img:hover .fa-circle-play {
    opacity: 1;
}

.main-background {
    background-image: linear-gradient(#236236, #1f492b, #050806, #121212);
    padding: 90px 20px 0;
}


.volume-bar .play-progress {
    width: 25%;
}

.player .fa-circle-play:hover,
.player .fa-shuffle:hover,
.player .fa-arrow-rotate-right:hover,
.player .fa-circle-pause:hover {
    transform: scale(1.2);
}

.player:nth-of-type(1n+1) .fa-solid,
.fa-regular {
    cursor: pointer;
}

/* test overlay */

.overlay-img {
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
}

.overlay-img:hover {
    background-color: #000000a5;
}